<?xml version="1.0"?>

  <appSettings>
   
    <add key="EmailToAddresses" value="testing@test.com;test@test.com" />
    <add key="EmailFromAddress" value="test@gmail.com"/>
    <add key="MessageSubject" value="This is a subject"/>
    <add key="SMTPServer" value="smtp.gmail.com"/>
    <add key="SMTPServerPort" value="587"/>
    <add key="EnableSSL" value="true"/>
    <add key="SMTPUserName" value="test@gmail.com" />
    <add key="SMTPPassword" value="PASSWORD"/>
    <add key="LogFileLocation" value="~/log.txt"/>
  </appSettings>

